# Latest features, might be unstable
ATTRACCESS_TAG=nightly-latest

# Latest stable version
# ATTRACCESS_TAG=latest

# Specific Version
# ATTRACCESS_TAG=v1.0.0


AUTH_SESSION_SECRET=CHOOSE_A_SECRET_LONG_AND_RANDOM_VALUE
ATTRACCESS_URL=https://attraccess.demo

LICENSE_KEY=YOUR_LICENSE_KEY_HERE

SMTP_SERVICE=SMTP
SMTP_HOST=attraccess.demo
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@attraccess.demo